[/]
animate-appicon-hover=true
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
animate-appicon-hover-animation-travel={'SIMPLE': 0.0, 'RIPPLE': 0.40000000000000002, 'PLANK': 0.0}
animate-appicon-hover-animation-zoom={'SIMPLE': 1.3, 'RIPPLE': 1.25, 'PLANK': 2.0}
appicon-margin=8
appicon-padding=4
available-monitors=[0]
dot-size=1
dot-style-focused='METRO'
dot-style-unfocused='DASHES'
focus-highlight=true
focus-highlight-dominant=false
hot-keys=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=false
leftbox-padding=-1
panel-anchors='{"0":"START"}'
panel-element-positions='{"0":[{"element":"showAppsButton","visible":false,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{"0":100}'
panel-position='BOTTOM'
panel-positions='{"0":"RIGHT"}'
panel-size=48
panel-sizes='{"0":48}'
primary-monitor=0
show-running-apps=true
status-icon-padding=-1
tray-padding=-1
window-preview-title-position='TOP'
